<template>
    <div>
    <form @submit.prevent="submit">
        <div class="alert alert-success" v-show="success">URL hash generated successfully.</div>
        <div class="form-group row">
            <label for="url" class="col-md-4 col-form-label text-md-right">URL to be shortened</label>

            <div class="col-md-6">
                <input id="url" type="text" class="form-control" name="url" v-model="fields.url" required autofocus>
                <div class="alert alert-danger" v-if="errors && errors.url">
                    {{ errors.url[0] }}
                </div>
            </div>
        </div>

        <!-- <div class="form-group row">
            <label for="shortUrl" class="col-md-4 col-form-label text-md-right">Your Short URL</label>

            <div class="col-md-6"> 
                <input id="shortUrl" type="text" class="form-control" name="shortUrl" v-model="fields.hash" required>
                <div class="alert alert-danger" v-if="errors && errors.email">
                    {{ errors.hash[0] }}
                </div>
            </div>
        </div> -->

        <div class="form-group row">
            <label for="category_id" class="col-md-4 col-form-label text-md-right">URL Category</label>

            <div class="col-md-6">
                <select class="form-control" id="category_id" name="category_id" v-model="fields.category_id">
                    <option disabled value="0">Please select one</option>
                    <option v-for="category in categories"
                            :value="category.id">{{ category.name }}
                    </option>
                </select>
                <div class="alert alert-danger" v-if="errors && errors.category_id">
                    {{ errors.category_id[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Submit the URL
                </button>
            </div>
        </div>
    </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                categories: null,
                fields: {},
                success: false,
                errors: {}
            }
        },
        mounted() {
            axios.get('/api/categories').then(response => {
                this.categories = response.data.data;
            }),
            axios.get('/api/hash').then(response => {
                this.fields = {hash: response.data.newHash};
            })
        },
        methods: {
            submit() {
                // let self = this;
                axios.post('/api/urls', this.fields).then(response => {
                    this.fields = {};
                    this.success = true;
                    this.errors = {};
                    // self.$router.push('/');
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                    console.log(error);
                });
            }
        }
    }
</script>
